CompileFlags:
  Add:
    - -I/Users/sambhav/Documents/vscode_projects/cs140e
    - -I/Users/sambhav/Documents/vscode_projects/cs140e/libpi/include
    - -I/Users/sambhav/Documents/vscode_projects/cs140e/libpi
    - -I/Users/sambhav/Documents/vscode_projects/cs140e/libpi/src
    - -I/Users/sambhav/Documents/vscode_projects/cs140e/libpi/libc
    - -I/Users/sambhav/Documents/vscode_projects/cs140e/libpi/staff-private
    - -I/Users/sambhav/Documents/vscode_projects/cs140e/labs/os/code
    - -I/Users/sambhav/Documents/vscode_projects/cs140e/labs/os/code/tests
    - -I/Users/sambhav/Documents/vscode_projects/cs140e/labs/17-vm-page-table/code
    - -I/Users/sambhav/Documents/vscode_projects/cs140e/labs/13-pinned-vm/code
    - -I/Users/sambhav/Documents/vscode_projects/cs140e/labs/16-fat32-readonly/code
    - -I/Users/sambhav/Documents/vscode_projects/cs140e/labs/16-fat32-readonly/code/external-code
    - -D__RPI__
    - -Wno-pointer-sign
    - -Wno-unused-function
    - -Wno-unused-variable
  If:
    Language: C
    Add:
      - -std=gnu99

